div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("background_image.png");
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */
}