#container{
    height:400px;
    width:400px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    height:100px;
    width:100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    font-size:50px;
    text-align:center;
}

/* ans 2 */

#navbar{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    /* justify-content: flex-start;
    align-content: center; */
}

.option{
    height:50px;
    width:80px;
    font-size: 25px;
    /* margin-left:5px; */
    line-height: 50px;
}