p, h1, h3, h4,a, button, textarea{
    font-family: Georgia;
    text-align:center;

}

p{
    color: #a52a2a;
    line-height:30px;
}

h1{
    color:red;
    text-decoration: underline;
}

h3{
   
    color:black;
}

a{
    color:rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color: white;
    color:blueviolet;
}

textarea{
    color:black;
}
